{% import "macro/form.twig" as form %}

<div class="section-body">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12">
				<form method="post" class="tab-content">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Contact Person 1</h3>
						</div>
						<div class="card-body">
							<div class="row clearfix">
								<div class="col-md-1">
									<div class="form-group">
										<label for="contact_name_sal">Salutation</label>
										<select name="contact_name_sal" class="form-control">
											<option value="Mr">Mr</option>
											<option value="Mrs">Mrs</option>
											<option value="Ms">Ms</option>
											<option value="Dr">Dr</option>
										</select>

									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label for="contact_fname">First Name</label>
										<input type="text" class="form-control" value="" id="contact_fname" name="contact_fname">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label for="contact_mname">Middle Name</label>
										<input type="text" class="form-control" value="" id="contact_mname" name="contact_mname">
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label for="contact_lname">Last Name</label>
										<input type="text" class="form-control" value="" id="contact_lname" name="contact_lname">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="contact_department">Department</label>
										<input type="text" class="form-control" value="" id="contact_designation" name="contact_designation">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="contact_jobrole">Job Role</label>
										<input type="text" class="form-control" value="" id="contact_jobrole" name="contact_jobrole">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="contact_email">Email</label>
										<input type="email" class="form-control" value="" id="contact_email" name="contact_email">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="contact_phone">Phone</label>
										<input type="tel" class="form-control" value="" id="contact_phone" name="contact_phone">
									</div>
								</div>
								<div class="col-md-12">
									<label>Instant messaging</label>
									<div class="ims">
										{% for im in ["whatsapp","skype","telegram","instagram","aol","qq","wechat"] %}
											<label for="im_{{im}}">
												<img src="/img/im/{{im}}.png" alt="">
											</label>
										{% endfor %}
									</div>
								</div>
								{% for im in ["whatsapp","skype","telegram","instagram","aol","qq","wechat"] %}
									<div class="col-md-4">
										<div class="form-group">
											<input type="checkbox" id="im_{{im}}">
											<div class="iminput">
												<img src="/img/im/{{im}}.png">
												<input type="text" class="form-control" value="" name="im_{{im}}">
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="tab-pane active" id="Company_Settings">

						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Company</h3>
							</div>
							<div class="card-body">
								<div class="row clearfix">
									<div class="col-md-12">
										<div class="form-group">
											<label for="name">Company Name</label>
											<input type="text" class="form-control" value="" id="name" name="name">
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label for="name">Legal Business Name</label>
											<input type="text" class="form-control" value="" id="legal" name="legal">
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="logo">Company Logo</label>
											<input type="file" class="form-control" value="" id="logo" name="logo">
										</div>
									</div>

									<div class="col-md-8">
										<div class="form-group">
											<label for="website">Company Website</label>
											<input type="url" class="form-control" value="https://" id="website" name="website">
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<input type="checkbox" class="form-control" value="client" id="client" name="client">
											<label for="client">Client</label>
										</div>
										<div class="form-group">
											<input type="checkbox" class="form-control" value="vendor" id="vendor" name="vendor">
											<label for="vendor">Vendor</label>

											<div class="vendor">
												<div class="form-group">
													<label for="url_complete">URL Complete</label>
													<input type="url" class="form-control" value="http://" id="url_complete" name="url_complete">
												</div>
												<div class="form-group">
													<label for="url_terminate">URL Terminate</label>
													<input type="url" class="form-control" value="http://" id="url_terminate" name="url_terminate">
												</div>
												<div class="form-group">
													<label for="url_overquota">URL Overquota</label>
													<input type="url" class="form-control" value="http://" id="url_overquota" name="url_overquota">
												</div>

												<div class="form-group">
													<label for="url_security">URL Security</label>
													<input type="url" class="form-control" value="http://" id="url_security" name="url_security">
												</div>
												<div class="form-group">
													<label for="url_postback">URL Postback</label>
													<input type="url" class="form-control" value="http://" id="url_postback" name="url_postback">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Address</h3>
							</div>
							<div class="card-body">
								<div class="row clearfix">
									<div class="col-md-12">
										<div class="form-group">
											<label for="office_tag">Tag</label>
											<input type="text" class="form-control" value="" id="office_tag" name="office_tag">
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label for="office_al1">Address-Line 1 (Floor/Building Number/Name)</label>
											<input type="text" class="form-control" value="" id="office_al1" name="office_al1">
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label for="office_al2">Address-Line 2 (Street/Locality/Area Name)</label>
											<input type="text" class="form-control" value="" id="office_al2" name="office_al2">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="office_country">Country</label>
											<input type="text" class="form-control" value="" id="office_country" name="office_country">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="office_state">State</label>
											<input type="text" class="form-control" value="" id="office_state" name="state">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="office_city">City</label>
											<input type="text" class="form-control" value="" id="office_city" name="office_city">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="office_zipcode">Zip/Postal code</label>
											<input type="text" class="form-control" value="" id="office_zipcode" name="office_zipcode">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 flex-end">
						<button class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
