<div class="section-body mt-3">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="id">
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Priority">
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Department">
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Agent">
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" data-provide="datepicker" placeholder="Date">
								</div>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-6">
								<a href="javascript:void(0);" class="btn btn-primary btn-block" title="">Search</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="card">
					<div class="table-responsive">
						<table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Contact Persons</th>
									<th>E-Mail</th>
									<th>Status</th>
									<th>Projects</th>
									<th></th>
								</tr>
							</thead>

							<tbody>
								{% for company in companies %}
									<tr>
										<td>{{company._id}}</td>
										<td>{{company.name}}</td>
										<td>{{company.contact[0].name.salutation}}
											{{company.contact[0].name.first}}
											{{company.contact[0].name.middle}}
											{{company.contact[0].name.last}}</td>
										<td>{{company.contact[0].email}}</td>
										<td>Active</td>
										<td>0</td>
										<td>
											<a href="/company/client/{{company._id}}" class='btn btn-primary'>
												<i class="fa fa-eye"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
